body {
    background: rgb(134, 120, 42);
}

/*.quiz_two,
.quiz_three,
.quiz_four {
    display: none;
}*/

header {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.timer {
    display: flex;
    justify-content: flex-end;
}

.que_one, .que_two, .que_three, .que_four  {
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choices {
    margin-top: 20px;
}

.choice {
    background: rgb(138, 138, 167);
    border: 1px solid rgb(72, 99, 72);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0 10px 0;
    text-align: center;
    cursor: pointer;
}

.choice:hover {
    color: blue;
    background: purple;
}


.quiz_one,
.quiz_two,
.quiz_three,
.quiz_four {
    position: absolute;
    left: 30%;
    margin-top: 10px;
    width: 500px;
    background: white;
    border-radius: 5px;
    height: 300px;
}